# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

src/main/java/zabi/minecraft/covens/common/patreon/LoginWatcher.java
src/main/java/zabi/minecraft/covens/common/patreon/PlayerDisconnectorDelayed.java
*.bat
patreon/LoginWatcher.java
patreon/PlayerDisconnectorDelayed.java
deactivation/LoginWatcher.java
deactivation/PlayerDisconnectorDelayed.java
src/main/java/zabi/minecraft/covens/common/patreon/AutoReporter.java
lib/Baubles-1.12-1.5.1-api.jar
lib/Baubles-1.12-1.5.1-deobf.jar
*.old